{% extends 'main/layout.html' %}

{% block title%}Форма по добавлению статьи.{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению статьи.</h1>
        <button onclick="window.location.href = 'http://127.0.0.1:8000/'" class='btn btn-warning'>На главную страницу.</button>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-warning" type="submit">Добавить статью.</button>
        </form>
    </div>
{% endblock %}